/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Content */
.container {
  position: relative;
  margin: 0 auto;
  padding-top: 20px;
  background: #ededed;
}
.btn {
  background: yellow;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: green;
  font: 12px/17px Arial;
}
.btn a {
<<<<<<< HEAD
  color: green;
  font: 12px/17px Arial;
}
ul {
  -webkit-perspective: 600;
}
li {
  width: 240px;
  height: 240px;
  float: left;
  list-style: none;
  position: relative;
  margin-right: 20px;
  margin-bottom: 50px;
  cursor: pointer;
  counter-increment: item;
}
li div {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all .5s;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0 6px 10px -8px rgba(0, 0, 0, 0.8);
}
li:hover .front {
  z-index: 10;
  -webkit-transform: rotateY(180deg);
}
li:hover .back {
  -webkit-transform: rotateY(0);
}
.front {
  z-index: 3;
  text-align: center;
  line-height: 240px;
  color: #b3b3b3;
  font-size: 80px;
  background: #e3e3e3;
}
.front:after {
  content: counter(item);
}
.back {
  -webkit-transform: rotateY(180deg);
=======
	color: red;
	font: 12px/17px Arial;
>>>>>>> remotes/origin/master
}
